body{
    background-color: #000;
    color: white;
    font-family: American Typewriter, sans-serif;
}
.prev, .next{
    position: absolute;
    border-color: rgb(87, 86, 86);
    top: 25%;
    margin-top: 16%;
    transition: 0.6s ease;
    user-select: none;
 }
 .prev{
    left: 29%;
 }
    
 .next{
    right: 29%;
 }
 .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 .review{
     text-align: center;
     margin-top: 20%;
 }
 .review {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes review {
    from {opacity: .4}
    to {opacity: 1}
  }
 .fa-quote-left{
     margin-left: -40%;
     font: size 24px;
     color: red;
 }
 .fa-quote-right{
     margin-right: -40%;
     font: size 24px;
     color: red;
 }
 .reviews img{
     position: fixed;
     top: 6%;
     left: 45%;
     width: 12%;
 }
 /* .icons{
    display: flex;
 } */
 .navbars{
    position:fixed;
    bottom: 7%;
    right: 30%;
    background-color: rgb(20, 19, 19);
    padding: 23px 12px 12px 23px;
    border-radius: 32px 32px 32px 32px;
    display: flex;
    justify-content: space-around;
    gap: 0.8cm;
   
    
}
.navbars a{
    text-decoration: none;
    color: white;

}
button{
    padding: 12px;
    margin-top:-8px;
    border-radius:20px ;
    background-color: rgb(78, 77, 77);
    border-color: transparent;
    color: white;
}
button:hover{
    color:  rgb(78, 77, 77);
    background-color: antiquewhite;
}
.material-icons{
margin-top: -2px;
font-size:24px;
 color: white;
}
.fa-bars{
    font-size:24px;
    color: white;
}
.fa-whatsapp{
    color:white;
    position: fixed;
    border: 1px solid;
    padding: 14px;
    background-color: rgb(15, 14, 14);
    border-radius: 37px;
    bottom: 7%;
    right: 5%;
}
.fa-facebook{
    color:white;
    position: fixed;
    border: 1px solid;
    padding: 10px;
    background-color: rgb(15, 14, 14);
    border-radius: 50px;
    top: 7%;
    right: 3%;
    opacity: 50%;
    
}
.fa-instagram{
    color:white;
    position: fixed;
    border: 1px solid;
    padding: 10px;
    background-color: rgb(15, 14, 14);
    border-radius: 50px;
    top: 7%;
    right: 6%;
    opacity: 50%;
}
@media screen and (min-width: 320px) and (max-width: 857px){
    body{
        background-color: #000;
        color: white;
        font-family: American Typewriter, sans-serif;
        font-size: 0.5em;
    }
    .prev, .next{
        /* position: absolute; */
        border-color: rgb(87, 86, 86);
        top: 57%;
        margin-top: 10%;
        transition: 0.6s ease;
        user-select: none;
     }
     .prev{
        left: 9%;
     }
        
     .next{
        right: 9%;
     }
     .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
     .review{
         text-align: center;
         margin-top: 100%;
     }
     .review {
        /* animation-name: fade; */
        animation-duration: 1.5s;
      }
      
      @keyframes review {
        from {opacity: .4}
        to {opacity: 1}
      }
     .fa-quote-left{
         margin-left: -60%;
         font-size:24px;
         color: red;
     }
     .fa-quote-right{
         margin-right: -60%;
         font-size: 24px;
         color: red;
     }
     .reviews img{
         position: fixed;
        top: 2%;
         left: 16%;

         width: 62%;
     }
     .icons{
        display: block;
     }
     .navbars{
        position:fixed;
        bottom: 7%;
        right: 30%;
        background-color: rgb(20, 19, 19);
        padding: 23px 12px 12px 23px;
        border-radius: 32px 32px 32px 32px;
        display: flex;
        justify-content: space-around;
        gap: 0.8cm;
       
        
    }
    .navbars a{
        text-decoration: none;
        color: white;
    
    }
    button{
        padding: 12px;
        margin-top:-8px;
        border-radius:20px ;
        background-color: rgb(78, 77, 77);
        border-color: transparent;
        color: white;
    }
    button:hover{
        color:  rgb(78, 77, 77);
        background-color: antiquewhite;
    }
    .material-icons{
    margin-top: -2px;
    font-size:24px;
     color: white;
    }
    .fa-bars{
        font-size:24px;
        color: white;
    }
    .fa-whatsapp{
        color:white;
        position: fixed;
        border: 1px solid;
        padding: 14px;
        background-color: rgb(15, 14, 14);
        border-radius: 37px;
        bottom: 7%;
        right: 5%;
    }
    .fa-facebook{
        color:white;
        position: fixed;
        border: 1px solid;
        padding: 10px;
        background-color: rgb(15, 14, 14);
        border-radius: 50px;
        top: 2.5cm;
        right: 3%;
        opacity: 50%;
        
    }
    .fa-instagram{
        color:white;
        position: fixed;
        border: 1px solid;
        padding: 10px;
        background-color: rgb(15, 14, 14);
        border-radius: 50px;
        top: 1cm;
        right: 3%;
        opacity: 50%;
    }
    #home, #menu, #review, #event, #live, #contact{
        display: none;
    }
}
@media screen and (min-width:820px) and (max-width: 1300px){
    body{
        font-size: 0.7em;
    }
    
    .reviews img{
        position: fixed;
       top: 2%;
        left: 29%;
        width: 42%;
    }
    .review{
        text-align: center;
        margin-top: 70%;
    }
    #home, #menu, #review, #event, #live, #contact{
        display: contents;
    }
    .prev{
        left: 20%;
     }
        
     .next{
        right: 20%;
     }
}
    

  
   





